/* @use postcss-preset-env */

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --lightblue: #B0D0D3;
    --orange: #F7AF9D;
    --pinkpurple: #C08497;
    --pink: #FFCAD4;
    --pinklight: #FBF2F0;
    --text-color: #4e4e4e;
}

body {
    overflow-x: hidden;
    background-color: var(--brown-color);
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}



/* -- Fonts -- */



h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: var(--pink);
    line-height: 1;
}

h2 {
    font-family: 'Pacifico', cursive; 
    font-size: 3rem;
    color: var(--text-color);
}

h3 {
    font-family: 'Signika', sans-serif; 
    color: var(--text-color);
}

p {
    font-family: 'Signika', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: var(--text-color);
}

a {
    font-family: 'Signika', sans-serif;
    text-decoration: none;
    font-weight: 300;
    color: var(--text-color);
}



/* -- Buttons -- */



a.button-main {
    color: var(--white);
    background-color: var(--lightblue);
    text-transform: uppercase;
    font-weight: 500;

    padding: 0.75rem 1.5rem;
    border-radius: 20px;

    transition: all ease 0.3s;
}

a.button-main:hover {
    background-color: var(--pink);
    /* -webkit-transform: translateY(-5px);
	transform: translateY(-5px); */
}



/* -- Nav -- */

nav {
    top: 0;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 2;
}

nav.fixed {
    position: fixed;
}

nav.relative {
    position: relative;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

nav li {
    list-style: none;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

nav li a:hover {
    border-bottom: var(--pink) solid 2px;
}

nav li:last-child {
    border: var(--pink) solid 2px;
    border-radius: 3px;
}

nav li:last-child a {
    color: var(--pink);
}



/* -- Landing -- */



#landing {
    width: 100vw;
    height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--pinklight);
}

#landing .landing-content {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    
    padding: 1rem;
}

#landing h1 {
    padding: 0rem;
    max-width: 40rem;
    margin: auto;
}

#landing p.quote {
    padding: 1rem 0rem;
    max-width: 40rem;
    margin: auto;
}

#landing .profile-text {
    margin: 1rem 0rem;
}

#landing .profile-text img {
    width: 225px;
    height: 225px;
    margin-bottom: 1rem;
    object-fit: cover;
    border: var(--white) solid 5px;
    border-radius: 50%;
}

#landing .profile-text .author {
    max-width: 40rem;
    margin: auto;
}

#landing .profile-text p.job {
    max-width: 40rem;
    color: #b5b5b5;
    margin: auto;
}

#landing .profile-text p.text {
    max-width: 40rem;
    margin: auto;
    margin-top: 1rem;
}

#landing .profile-text p.text a {
    color: var(--pinkpurple);
    font-style: italic;
}

#landing .button-cv {
    text-align: center;

    margin-top: -1.5rem;
    margin-bottom: 3rem;
}

#landing .button-cv a {
    background-color: var(--pink);
}

#landing .button-div {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 4rem;
}

#landing .contact article {
    width: 100vw;
    bottom: 1rem;
    position: absolute;

    background-color: var(--white);
    padding: 1rem;
    border-radius: 3px;
}

#landing .contact a {
    display: block;
    font-weight: 500;
    color: var(--pink);
}

#landing .contact a:nth-child(2) {
    color: var(--lightblue);
}

#landing .landing-gradient {
    width: 100vw;
    height: 5rem;

    position: absolute;
    bottom: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 202, 212, 1));
}

#landing .landing-side {
    display: none;
}


/* -- Experience -- */



#experience {
    width: 100vw;
    height: 100vh;
    position: relative;
    
    padding: 1rem;
    background-color: var(--lightblue);
    text-align: center;
}

#experience .flex {
    flex-basis: 100%;    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#experience div svg:first-child {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#experience svg {
    width: 120px;
    height: auto;
    padding: 0.3rem;
}

#experience h2 {
    text-align: center;
    display: inline-block;
    color: var(--white);
} 

#experience section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#experience section p {
    color: var(--white);
    max-width: 40rem;
    margin: auto;
}

#experience section div {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 1rem 0rem;
}

#experience section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0.2rem;
    border: var(--white) 5px solid;
    border-radius: 3px;
}

#experience .button-main {
    background-color: var(--pink);
    margin: 0rem 0.5rem;
}



/* -- About me -- */



#about-me {
    width: 100vw;
    height: auto;
    position: relative;
    
    padding: 1rem;
    background-color: var(--pink);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#about-me .flex {
    flex-basis: 100%;    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#about-me div svg:first-child {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#about-me svg {
    max-width: 120px;
    height: auto;
    padding: 0.3rem;
}

#about-me h2 {
    text-align: center;
    display: inline-block;
    color: var(--white);
    margin-bottom: 1rem;
} 

#about-me img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: var(--white) solid 10px;
    object-fit: cover;
}

#about-me .content-left {
    margin: 0.7rem;
}

#about-me h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white);
    background-color: var(--lightblue);
    display: inline-block;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

#about-me .content-right p {
    max-width: 40rem;
    color: var(--text-color);
    border-radius: 0px 3px 3px;
    background-color: var(--white);
    padding: 1.5rem;
}

#about-me .content-right p span {
    color: var(--lightblue);
    font-style: italic;
}

#about-me .contact {
    margin-top: 1rem;
    margin-left: -4rem;
    background-color: var(--white);    
    display: inline-block;
    width: 100%;
    margin: 1rem auto 0rem;
    padding: 1rem;
    padding-right: 3rem;
}

#about-me .contact p {
    padding: 0rem;
    color: var(--text-color);
    background-color: inherit;
}

#about-me .contact a {
    font-weight: 500;
    color: var(--pink);
    display: block;
}

#about-me .contact a:nth-child(2) {
    color: var(--lightblue);
}

#about-me .button-cv {
    text-align: center;
    width: 300px;
    margin-top: -1rem;
}



/* -- Gallery -- */



#gallery {
    background-color: var(--pinklight);
} 

#gallery .flex {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

#gallery .flex div {
    text-align: center;
    margin-bottom: 1rem;
}

#gallery .flex div p {
    margin-bottom: 1rem;
}

#gallery div svg {
    width: 120px;
    padding: 0.5rem;
}

#gallery div svg:first-child {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#gallery h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem 1rem 0rem 1rem;
}

#gallery p {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    font-style: italic;
}

#gallery article .gallery-photo {
    height: auto;
    margin: 0.55rem;
    border: var(--pink) solid 7px;
    border-radius: 3px;
}

#gallery article .gallery-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* -- Evaluations -- */



#evaluations {
    background-color: var(--pinklight);
} 

#evaluations .all-evaluations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#evaluations h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem 1rem 0rem 1rem;
}

#evaluations .flex {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

#evaluations .flex div {
    text-align: center;
    margin-bottom: 1rem;
}

#evaluations .flex div p {
    margin-bottom: 1rem;
}

#evaluations .flex svg {
    width: 120px;
    padding: 0.5rem;
}

#evaluations .flex svg:first-child {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#evaluations p {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    font-style: italic;
}

#evaluations article {
    background-color: var(--white);
    padding: 1rem;
    margin: 1rem 0.5rem;
}

#evaluations article svg {
    height: 30px;
    display: block;
}

#evaluations .double-quote {
    width: 30px;
    margin: auto auto;
    margin-top: -2rem;
}



/* -- Footer -- */



footer {
    background-color: var(--pinkpurple);
    padding: 1.5rem;
}

footer h3, footer p, footer a {
    color: var(--white);
    display: block;
}

footer h3 {
    margin-bottom: 0.5rem;
}







@media (min-width: 640px) {

    nav ul {
        justify-content: flex-end;
    }

    nav li {
        margin-right: 3rem;
    }

    #landing .profile-text p.text {
        display: none;
    }

    #about-me {
        flex: wrap;
    }



    /* -- Landing -- */



    #landing .profile-text p.text {
        display: block;
    }



    /* -- Gallery -- */



    #gallery article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 300px);
        grid-auto-flow: row dense;
        padding: 0rem 0.5rem 0.5rem 0.5rem;
    }

    #gallery article .gallery-photo:first-child {
        grid-row: span 1;
    }

    #gallery article .gallery-photo:nth-child(2) {
        grid-column: span 2 / 3;
        grid-row: span 2;
    }

    #gallery article .gallery-photo:nth-child(4), 
    #gallery article .gallery-photo:nth-child(6), 
    #gallery article .gallery-photo:nth-child(8) {
        grid-row: span 2;
    }
}

@media (min-width: 960px) {

    #landing .landing-content {
        width: 60%;
        height: 100vh;
        text-align: left;
        padding: 2rem;

        margin: auto;
        position: relative;
    }

    #landing .landing-side {
        width: 40%;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #landing .landing-side img {
        width: 350px;
        height: auto;
        margin: auto auto;

        border: var(--white) solid 10px;
        border-radius: 3px;
    }

    #landing .profile-text img, #landing .profile-text .button-cv {
        display: none;
    }

    #landing .button-cv {
        position: relative;
        width: 350px;
    }

    #landing .contact {
        width: 100%;
        height: 100px;
        position: relative;
        margin-top: 0rem;
    }

    #landing .contact article {
        width: 300px;
        position: absolute;
        right: -2rem;
    }

    #about-me img {
        width: 300px;
        height: inherit;
        border-radius: 3px;
        border: var(--white) solid 10px;
        object-fit: cover;
    }

    #about-me h3 {
        margin-top: 0rem;
    }

    #about-me .content-right {
        margin: 0.7rem;
        padding: 1.5rem;
    }

    #about-me .contact {
        width: 300px;
    }

    #gallery article {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto-flow);
    }

    #gallery article .gallery-photo:nth-child(2) {
        grid-column: span 2;
        grid-row: span 2;
    }

    #gallery article .gallery-photo:first-child,
    #gallery article .gallery-photo:nth-child(7),
    #gallery article .gallery-photo:nth-child(8) {
        grid-column: span 2;
        grid-row: span 1;
    }

    #evaluations .all-evaluations {
    }

    #evaluations .all-evaluations article {
        flex-wrap: wrap;
        width: 40rem;
    }
}